<% include partials/header %>
<h1>SEARCH</h1>
<form action="/results" method="GET">

<input type="text" name="search" placeholder="search for movie">
<button>search</button>
</form>
<% include partials/footer %>
